@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(247, 247, 248);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Toastify__toast-container {
  width: auto !important;
  min-width: 400px !important;
  max-width: 400px !important;
}
.Toastify__toast {
  padding: 0 !important;
  border-radius: 0 !important;
}
.Toastify__toast-body {
  padding: 0 !important;
}
